@page
@model PayGate_SampleCode.Pages.QueryModel
@using System.Text;
@{
    Microsoft.Extensions.Primitives.StringValues PAYGATE_ID = "10011072130";
    Microsoft.Extensions.Primitives.StringValues PAY_REQUEST_ID = "";
    Microsoft.Extensions.Primitives.StringValues REFERENCE = "";
    Microsoft.Extensions.Primitives.StringValues encryption_key = "secret";
    if (HttpContext.Request.Method == "POST")
    {
        var Request = HttpContext.Request.Form;
        Request.TryGetValue("PAYGATE_ID", out PAYGATE_ID);
        Request.TryGetValue("PAY_REQUEST_ID", out PAY_REQUEST_ID);
        Request.TryGetValue("REFERENCE", out REFERENCE);
        Request.TryGetValue("encryption_key", out encryption_key);
    }
    //Data to query PayWeb 3
    var data = new Dictionary<string, string>()
{
{ "PAYGATE_ID", PAYGATE_ID },
{"PAY_REQUEST_ID", PAY_REQUEST_ID },
{"REFERENCE", REFERENCE }
};


    var pgid = data["PAYGATE_ID"] != "" ? data["PAYGATE_ID"] : "10011072130";
    var payrequestid = data["PAY_REQUEST_ID"] != "" ? data["PAY_REQUEST_ID"] : "";
    var reference = data["REFERENCE"] != "" ? data["REFERENCE"] : "";

    var pg3 = new PaygatePayweb3();
    pg3.setEncryptionKey(encryption_key);

    //Set request data
    pg3.setQueryRequest(data);

    //Execute query
    var returnData = pg3.doQuery();


    var htmlError = new StringBuilder("<div class=\"well\">");
    if (pg3.queryResponse.Count > 0)
    {
        //We have received a response from PayWeb3
        if (pg3.lastError == null)
        {
            //No error
            foreach (var item in pg3.queryResponse)
            {
                htmlError.Append("<div class=\"form-group z-formgroup d-flex\">");
                htmlError.Append("<label for=\"" + item.Key + "_RESPONSE\" >" + item.Key + "</label>");
                htmlError.Append("<p class=\"ml-auto\" id=\"" + item.Key + "_RESPONSE\">" + item.Value + "</p></div>");
            }
        }
        else
        {
            htmlError.Append(pg3.lastError);
        }
    }
    htmlError.Append("</div>");

    var htmlErrorRaw = Html.Raw(htmlError);
}

<div class="container container-sm">
    <div class="z-top">Step: Query</div>
    <div class="z-nav login">
        <ul class="nav nav-tabs flex-nowrap" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="result-tab" href="#query" role="tab" data-toggle="tab">
                    Query
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="initiate-tab" asp-page="/Index" role="tab">Initiate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="query-tab" asp-page="/Query" role="tab">New Query</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="simple-query-tab" asp-page="/Simple/SimpleQuery" role="tab">Simple Query</a>
            </li>
        </ul>
    </div>
    <div class="tab-content tab-content-basic">
        <div class="tab-pane fade show active" id="query" role="tab-panel">
            <form class="form" id="loginForm" asp-page="/Query" method="post">
                <div class="z-form-group-wrapper">
                    <div class="form-group z-formgroup">
                        <label for="PAYGATE_ID">PayGate ID</label>
                        <input type="text" name="PAYGATE_ID" id="PAYGATE_ID" class="form-control" value="@pgid" />
                    </div>
                    <div class="form-group z-formgroup">
                        <label for="PAY_REQUEST_ID">Pay Request ID</label>
                        <input type="text" name="PAY_REQUEST_ID" id="PAY_REQUEST_ID" class="form-control" value="@payrequestid" />
                    </div>
                    <div class="form-group z-formgroup">
                        <label for="REFERENCE">Reference</label>
                        <input type="text" name="REFERENCE" id="REFERENCE" class="form-control" value="@reference" />
                    </div>
                    <div class="form-group z-formgroup">
                        <label for="encryption_key">Encryption Key</label>
                        <input type="text" name="encryption_key" id="encryption_key" class="form-control" value="@encryption_key" />
                    </div>
                </div>
                <div class="z-form-group-wrapper">
                    @htmlErrorRaw
                </div>
                <div class="z-buttons">
                    <input type="submit" id="doQueryBtn" class="btn btn-success" value="Do Query" name="btnSubmit">
                    <p class="mt-5"><a asp-page="/Index" class="btn btn-primary">New Transaction</a></p>
                    <p id="loginimageregister"><img src="~/images/PayGate_logo.svg" alt="logo" width="150px">
                </div>
            </form>
        </div>
    </div>
</div>


